[submodule "font"]
	path = font
	url = git@github.com:bodoni/font.git
[submodule "founder"]
	path = founder
	url = git@github.com:bodoni/founder.git
[submodule "opentype"]
	path = opentype
	url = git@github.com:bodoni/opentype.git
[submodule "postscript"]
	path = postscript
	url = git@github.com:bodoni/postscript.git
[submodule "truetype"]
	path = truetype
	url = git@github.com:bodoni/truetype.git
[submodule "typeface"]
	path = typeface
	url = git@github.com:bodoni/typeface.git
