[submodule "font"]
	path = font
	url = git@github.com:bodoni/font.git
[submodule "opentype"]
	path = opentype
	url = git@github.com:bodoni/opentype.git
[submodule "postscript"]
	path = postscript
	url = git@github.com:bodoni/postscript.git
[submodule "truetype"]
	path = truetype
	url = git@github.com:bodoni/truetype.git
[submodule "typeface"]
	path = typeface
	url = git@github.com:bodoni/typeface.git
[submodule "tests/fixtures/google-fonts"]
	path = tests/fixtures/google-fonts
	url = https://github.com/google/fonts.git
	shallow = true
[submodule "tests/fixtures/web-platform-tests"]
	path = tests/fixtures/web-platform-tests
	url = https://github.com/web-platform-tests/wpt.git
	shallow = true
